.link:hover{
  color: red;
}
.link:link{
  text-align: center;
  font-size: 20px;
  color: blue;
}
.tulisan{
  color: blue;
  text-align: center;
  text-decoration: underline;
  font-family: sans-serif;
  font-style: bold;
}
.tulisan1{
  font-size: 15px;
  font-family: sans-serif;
}
.gambar{
  width: 750px;
  height: 300px;
  float: center;
}
